<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fishingtime.framework.springcloud.gateway.mapper.ApplicationInterfaceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fishingtime.framework.springcloud.gateway.entity.ApplicationInterface">
        <id column="INTERFACE_ID" property="interfaceId" />
    <result column="STATUS_CD" property="statusCd" />
    <result column="STATUS_DATE" property="statusDate" />
    <result column="CREATE_STAFF" property="createStaff" />
    <result column="CREATE_DATE" property="createDate" />
    <result column="UPDATE_STAFF" property="updateStaff" />
    <result column="UPDATE_DATE" property="updateDate" />
        <result column="INTERFACE_NAME" property="interfaceName" />
        <result column="INTERFACE_CODE" property="interfaceCode" />
        <result column="INTERFACE_URL" property="interfaceUrl" />
        <result column="HTTP_METHOD" property="httpMethod" />
        <result column="REMARK" property="remark" />
        <result column="INTERFACE_URL_PATTERN" property="interfaceUrlPattern" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        STATUS_CD,
        STATUS_DATE,
        CREATE_STAFF,
        CREATE_DATE,
        UPDATE_STAFF,
        UPDATE_DATE,
        INTERFACE_ID, INTERFACE_NAME, INTERFACE_CODE, INTERFACE_URL, HTTP_METHOD, REMARK, INTERFACE_URL_PATTERN
    </sql>

</mapper>
